.weatherInfo{
  .Mainimage{
        .earthImg{
            height: 400px;
            width: 100%;

        }
        &::after{
            display: block; 
            content: "";            
             width: 100%;
             height: 10px;
             background-image: linear-gradient(to right, #c1c5e5 0%, #01ffed 100%),
              linear-gradient(to right, #c1c5e5 0%, #01ffed 100%);
                 }
  }
  .weatherDetails{
    background-color: #272e38;
    color: white;
    .info{
        margin: 30px 0px;
        .country{
            font-size: 55px;
            color: #ffffff;
            font-family: "Tahoma";
            @media only screen and (max-width: 722px) {
                font-size: 36px; 
            }
            @media only screen and (max-width: 400px) {
                font-size: 26px; 
            }
        }
        .tempreture{
            font-size: 22px;
            color: #73787e;
            font-family: "Tahoma";
            @media only screen and (max-width: 400px) {
                font-size: 20px; 
            }
        }
        .description{
            font-size: 20px;
            color: #73787e;
            font-family: "Tahoma";
            margin-top: 20px;
            @media only screen and (max-width: 400px) {
                font-size: 17px; 
                margin-top: 10px;
                
            }
        }
    }

  }
  .weekdays{
      display: flex;
      flex-wrap: wrap;
      .weather{
         width: 25%;
         height: 200px;
         background-image: linear-gradient(to right, #c1c5e5 0%, #01ffed 100%),
         linear-gradient(to right, #c1c5e5 0%, #01ffed 100%);
         @media only screen and (max-width: 765px) {
            width: 50%;
        }
        img{
            display: block;
            margin: auto;
            margin-top: 55px;
        }
        span{
            font-size: 33px;
            color: #ffffff;
            font-family: "Tahoma";
            text-align: center;
            display: block;
        }
        }
      .daydetails{
        width: 25%;
        height: 200px;   
        display: block;  
        color: white;   
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
          span{
              display: block;
          }
        @media only screen and (max-width: 765px) {
            width: 50%;
        }
          &:nth-child(2),&:nth-child(4),&:nth-child(5),&:nth-child(7){
            background-color: #313842;
            &:after {
                content: "";
                display: block;
                background-image: linear-gradient(to right, #c1c5e5 0%, #01ffed 100%),
                linear-gradient(to right, #c1c5e5 0%, #01ffed 100%);
                height: 8px;
            }      

            
        }
          &:nth-child(3),&:nth-child(6),&:nth-child(8){
            background-color: #2b323c;
          }
          &:nth-child(3){
            &:before {
                content: "";
                display: block;
                background-image: linear-gradient(to right, #c1c5e5 0%, #01ffed 100%),
                linear-gradient(to right, #c1c5e5 0%, #01ffed 100%);
                height: 8px;
            }             
          }
        
          .daywrapper{
              height: 192px;
              text-align: center;
              padding: 30px;
              position: relative;
              @media only screen and (max-width: 520px) {
                padding: 38px 0px;
             }   

            img.icon{
                position: absolute;
                left: 8px;
                top: 10px;
            }
              .daydate,.time,.ingeneral{
                font-size: 18px;
                color: #92989e;
                font-family: "Tahoma";
              }
              .degree{
                color: white;
                font-family: "Tahoma";
                font-size: 78px;
                line-height: 68px;       
                @media only screen and (max-width: 960px) {
                    font-size: 50px;
                }    
                @media only screen and (max-width: 520px) {
                    line-height: 50px;       
                }    
              }

          }
      }
  }
  .dayDetailitem{
      background-color: #2b323c;
      color: white;
      width: 100%;
      perspective: 1000px;
      &:hover{
          .dayinfo{
            transform: rotatex(360deg);
          }
      }
      .dayinfo{
        margin: 30px 0px;
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.4s;
        transform-style: preserve-3d;
        .data{
            .d-date{
                font-size: 55px;
                color: #92989e;
                font-family: "Tahoma";
                @media only screen and (max-width: 520px) {
                    font-size: 35px;
                } 
            }
            .d-general{
                font-size: 28px;
                color: #92989e;
                font-family: "Tahoma";
                margin-top: 5px;
                @media only screen and (max-width: 520px) {
                    font-size: 19px;
                } 
            }
            .d-sunrise,.d-rain,.d-sunset,.d-feels{
                font-size: 20px;
                line-height: 44px;
                color: #92989e;
                font-family: "Tahoma";
                display: block;
                margin-left: 20px;
                @media only screen and (max-width: 520px) {
                    font-size: 17px;
                    line-height: 37px;
                    
                } 
            }
        }
      }
  }

}