.headerItem{
    background-color: #272e38;
    .head{
        padding: 9px 0px;
        .earthImg{
            width: 50px;
            height: 50px;
            float: left;
            @media only screen and (max-width: 510px) {
                width: 25px;
                height: 25px;
            }
        }
        ul.navigation{
            display: inline-block;
            vertical-align: middle;
            font-size: 21px;
            color: #73787e;
            font-family: "Tahoma";
            margin: 0px;
            line-height: 47px;
            display: inline-block;
            vertical-align: unset;
            padding: 0px 20px;
            @media only screen and (max-width: 510px) {
                padding: 0px 3px;
                font-size: 13px;
                line-height: 30px;
            }
            li{
                display: inline-block;
                padding: 0px 2px;
    
                &:not(:last-child){
                    &::after{
                        content: ' / ';
                        color: white;
                        
                    }
                }
            }
        }
       .search{
        height: 38px;
        margin: 5px 0px;
        width: 90%;
        border: solid 1px white;
        border-radius: 13px;
        background-image:url('../../../assets/imgs/search-icon.png');
        background-repeat: no-repeat;
        padding-left: 40px;
        background-size: 19px;
        background-position: 14px 9px;
        font-size: 19px;
        font-family: "Tahoma";
        outline: none;

        @media only screen and (max-width: 510px) {
            font-size: 14px;
            width: 100%;
            
        }

       } 
    }
}