<div class="container-fluid headerItem">
    <div class="head">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                 <img class="earthImg" src="../../../assets/imgs/earth.png" >
                 <ul class="navigation">
                  <li>Weather App</li>  
                  <li>Global Outlook</li>                  
                 </ul>  
            </div>
            <div class="col-xs-12 col-md-4">
               <input class="search" type="text" placeholder="search" (keyup)="search($event)"/>
            </div>
           </div>
    </div>
  </div>